*{
    margin: 0;
    padding: 0;
}
h1{
    text-align:center;
    margin: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.div0{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wh{
    width: 20%;
    background-color: rgb(226, 187, 226);
    border: 1px solid;
    border-radius: 5px;
    height: 50%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;   
    text-decoration: none;
    color: #000; 
}
.divs1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 40%;
    width: 100%;

}
.divs2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 40%;
    width: 100%;
}
main{
    height: 100vh;
}
.main-block{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #000;
    font-size:30px;
    text-align: center;
    /* margin-bottom: 200px; */
}
.question{
    
    
    width:100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text{
    text-align: left;
    border: 1px solid;
    border-radius: 15px;
    width:40%;
    height: 50%;
    background-color: ;
}
 .var1{
    border: 1px solid;
    border-radius: 10px;
}
.var2{
    border: 1px solid;
    border-radius: 10px;
    background-color: ;
} 

.var {
    text-align: left;
    border: 1px solid;
    /* height: 80%;
     */
     margin: 10px;
     padding: 10px;
}
.var:hover{
    background-color: aqua;
}

.results {
    display: none;
}
h2{
    margin-bottom: 70px;
    text-align: center;
}
h3{
    margin-top:5px;
    margin-left: 10px;
    margin-bottom: 15px;
}
.nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 60px;
     
    
}
.nav1{
    border: 1px solid;
    border-radius: 10px;
    height: 10%;
    width: 15%;
    margin-right:10px ;
    text-align: center;
    font-size: 20px;
}
.nav2{
    border: 1px solid;
    border-radius: 10px;
    height: 10%;
    width: 15%;
    text-align: center;
    font-size: 20px;
}
